@import url('https://fonts.googleapis.com/css?family=Pacifico');


body {
	font-family: Pacifico, cursive;
	background-color: #fafafa;
}

.container-fluid {
	width: 60%;
	margin: auto;
	padding-bottom: 100px;
}


h1, h2 {
	color: #2980b9;
}

h1 {
	font-size: 54px;
	text-shadow: 2px 2px 5px #aaa;
}

h2 {
	font-size: 32px;
	text-shadow: 1px 1px 1px #ccc;
}

h3 {
	font-size: 18px;
}


.app-body {
	margin-top: 6em;
}


a {
	text-decoration: none;
	font-weight: bold;
	color: #555;
}

a:hover,
strong {
	color: #3498db;
}


ul {
	list-style: none;
	padding-left: 0;
	padding: 10px;
}

ul li img {
	padding: 4px;
}


.item  {
	float: left;
	margin: 4px;
	padding: 3px;
	width: 125px;
	height: 145px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;

	border-radius: 10px;
	border: 2px solid #ccc;
	box-shadow: 5px 5px 20px #ddd;
}

.item:hover {
	transform: scale(1.1);
}


.owned {
	border-radius: 10px;
	border: 2px solid #2ecc71;
	box-shadow: 2px 2px 20px #8a8;
}
